# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.MorskoGram.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\pdimp\MorskoGram\.idea\.idea.MorskoGram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
